.box {
    background: skyblue;
    margin: 20px;
    width: 100px;
    height: 100px;
    text-align: center;
}

/* TRANSFORM is a property with function values the change elements in various ways */

#rotate {
    transform: rotate(-14deg);
}

/* scale(1) is orginial 
    less than 1 is smaller 
    greater than 1 is bigger 

    */

#scale {
    transform: scale(0.8);
}

#skew {
    transform: skew(-25deg);
}

/*translate(x) moves to the right (if x is positive)
  translate(x,y) move diagonally 
  translate(0,y) moves down (along the y-axis) 
*/
#translate {
    transform: translate(50px, -10px);
}

/* You can chain multiple transforms on the same element */

#chain {
    transform: rotate(95deg) skew(-10deg);
}
